
html{scroll-behavior: smooth;}

*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{ 
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}
header h1 {
      font-weight: bold;
      font-size: 36px;
      margin: 0;
    }
  

header nav ul{padding: 20px, 35px; 
    justify-content: space-around;
    }


nav {
text-align: right;
margin: 20px;
padding: 15px;
flex-wrap: wrap;
font-size: 20px;
}

li{
    display: inline;
    text-align: center;
    padding: 8px;
}
li:hover{
    height: 5px;
    width: 5px;
}
p.work{
    width: 40%;
    padding-left: 50px;
    margin-left: 50px;
    float: left;
    box-shadow: inset 5px 0 5px -5px;
    font-style: italic;
    color: antiquewhite;
}
nav a{
background-color: red;
text-decoration:none;
padding: 15px 25px;
font-family: sans-serif;
font-size: 25px;
color: #fff;
border-radius:10px;
display: inline-block;
scroll-behavior: smooth;
}
a:hover{
-webkit-box-shadow: 0px 0px 100px 0px rgb(0, 68, 255);
-moz-box-shadow: 0px 0px 100px 0px rgba(0, 68, 255);
box-shadow: 0px 0px 100px 0px rgba(0, 68, 255);
}

h2{white-space: break-spaces;
}


  #Project-1{
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
  }

  img{

    background-size: 300px;
    display: block;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
  }

  p > #Project1 img{object-fit: cover; }





footer > ul{
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 15px;
    width: 100%;  
    }
    



  

/* Media 
@media screen and (max-width: 600px) {
body{ columns: 100%;
background-color: blue;} 
}
@media screen and (max-width: 800px){
   
} */

@media screen and (max-width: 980px) {
    body{
      padding-bottom: 10px;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      flex-direction: row;
