@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
  }

*{
  margin: 5px; 
padding: 5px;
box-sizing: border-box;
}


h1 {
      font-weight: bold;
      font-size: 35px;
      margin: 0;
    }
ul{
  list-style: none;
}
    
 #Matt{
   display: flex;
   width: 480px;
   height: 320px;
   margin: auto;
 }
  

ul{
display: inline block;
padding: 10px, 20px;
    justify-content: space-around;
    }



nav {
text-align: center;
display: flex;

justify-content: space-evenly;
margin: 20px;
padding: 5px;
flex-wrap: wrap;
}


 nav a{
background-color: #73a3eb;
font-weight: bold;
padding: 15px 25px;
font-size: 15px;
border-radius: 10px;
display: inline-block;
scroll-behavior: smooth;
}
.nav-link{
  font-weight: bold;
}

nav a:hover{
box-shadow: 0px 0px 100px 0px grey;
}

h2{
  white-space: break-spaces;
}


 

  img{

    background-size: 250px;
    display: block;
    width: 600px;
    height: 450px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    border: tomato 2px solid;
  }
  img:hover{
box-shadow: outset 30px 0 0 25px red;
  }
  #Matt:hover{
    transition: all 1s ease-in-out;
    transform: rotateY(360deg);
  }
  #Project-1{
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

#contact-head{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transform: translateX(17px);
}

#Contact-list{
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }
    
#Contact-list > a:hover{
    font-weight: bold;
    cursor: grab;
    color: black;
}


 @media screen and (max-width: 600px) {
body{
columns: 100%;
background-color: blue;
}
 img{
    width: 100%;
  }
}

@media screen and (max-width: 800px){
   body{
     columns: 50%;
     background-color: white;
   }
}

@media screen and (max-width: 980px) {
    body{
      padding-bottom: 10px;
      justify-content: center;
    }
  header h1 {
      width: 100%;
      text-align: center;
    }
 
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      }
      }
  
